@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-500.eot);
  src: local(MuseoSansCyrl-900), url(../fonts/MuseoSansCyrl-900.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrl-900.woff) format("woff"), url(../fonts/MuseoSansCyrl-900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-700.eot);
  src: local(MuseoSansCyrl-700), url(../fonts/MuseoSansCyrl-700.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrl-700.woff) format("woff"), url(../fonts/MuseoSansCyrl-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-500.eot);
  src: local(MuseoSansCyrl-500), url(../fonts/MuseoSansCyrl-500.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrl-500.woff) format("woff"), url(../fonts/MuseoSansCyrl-500.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-300.eot);
  src: local(MuseoSansCyrl-300), url(../fonts/MuseoSansCyrl-300.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrl-300.woff) format("woff"), url(../fonts/MuseoSansCyrl-300.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url(../fonts/MuseoSansCyrl-100.eot);
  src: local(MuseoSansCyrl-100), url(../fonts/MuseoSansCyrl-100.eot?#iefix) format("embedded-opentype"), url(../fonts/MuseoSansCyrl-100.woff) format("woff"), url(../fonts/MuseoSansCyrl-100.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url(../fonts/HelveticaNeueCyr-Roman.eot);
  src: local(HelveticaNeueCyr-Roman), url(../fonts/HelveticaNeueCyr-Roman.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Roman.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Roman.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/HelveticaNeueCyr-Bold.eot);
  src: local(HelveticaNeueCyr-Bold), url(../fonts/HelveticaNeueCyr-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Bold.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/HelveticaNeueCyr-Medium.eot);
  src: local(HelveticaNeueCyr-Medium), url(../fonts/HelveticaNeueCyr-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Medium.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url(../fonts/HelveticaNeueCyr-Light.eot);
  src: local(HelveticaNeueCyr-Light), url(../fonts/HelveticaNeueCyr-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/HelveticaNeueCyr-Light.woff) format("woff"), url(../fonts/HelveticaNeueCyr-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Light.eot");
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

/*! normalize.css v6.0.0 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body,
html {
  height: 100%; }

img,
fieldset,
a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input,
button {
  margin: 0;
  padding: 0;
  border: 0; }

input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none; }

ul,
ol {
  list-style-type: none; }

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none; } }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */ }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

[hidden] {
  display: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  resize: vertical; }

input,
textarea,
select,
button,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
a:focus {
  outline: none; }

html {
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300; }

nav ul,
nav ol {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: normal; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.button {
  display: inline-block;
  padding: 17px 15px;
  background: #7fb539;
  border: solid 2px #fff;
  border-radius: 5px;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .button:hover {
    border: solid 2px #d9d9d9;
    box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.12); }

.secondary-button {
  display: inline-block;
  padding: 15px 15px;
  background: #7fb539;
  border: solid 2px transparent;
  font-family: "HelveticaNeueCyr", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.7px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 3px 18px 0 rgba(127, 181, 57, 0.55);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .secondary-button:hover {
    border: solid 2px #d9d9d9; }

.button-empty {
  display: inline-block;
  padding: 16px 20px;
  border: solid 1px rgba(163, 163, 163, 0.41);
  border-radius: 5px;
  background: #f9f9f9;
  font-family: 'HelveticaNeueCyr-Roman', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.7px;
  color: #7b7b7b;
  text-decoration: none;
  text-align: center;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }
  .button-empty:hover {
    border-color: #7fb539;
    color: #7fb539;
    box-shadow: 0px 3px 18px 0 rgba(127, 181, 57, 0.38); }

input[type=text],
input[type=email],
input[type=tel],
input[type=search],
input[type=password],
input[type=date],
input[type=url],
textarea,
select {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 15px;
  font-family: "HelveticaNeueCyr", sans-serif;
  color: #898989;
  font-size: 16px;
  border: none;
  resize: none;
  border: solid 1px rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=tel]:focus,
  input[type=search]:focus,
  input[type=password]:focus,
  input[type=date]:focus,
  input[type=url]:focus,
  textarea:focus,
  select:focus {
    border: solid 1px #7fb539;
    background-color: #fff;
    color: #1c1c1c; }

input::-webkit-input-placeholder {
  color: inherit; }

textarea::-webkit-input-placeholder {
  color: inherit; }

input:-moz-placeholder {
  color: inherit; }

textarea:-moz-placeholder {
  color: inherit; }

textarea {
  height: 119px; }

.modal {
  display: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.float_left {
  float: left !important; }

.float_right {
  float: right !important; }

.float_none {
  float: none !important; }

.text_right {
  text-align: right !important; }

.text_center {
  text-align: center !important; }

.text_left {
  text-align: left !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.background_none {
  background: none !important; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hidden {
  display: none; }

.alignleft,
img.alignleft {
  float: left;
  padding-right: 10px;
  padding-bottom: 5px; }

.alignright,
img.alignright {
  float: right;
  padding-left: 10px;
  padding-bottom: 5px; }

.aligncenter,
img.aligncenter {
  text-align: center;
  margin: 0 auto; }

.alignnone,
img.alignnone {
  float: none; }

.ovh {
  overflow: hidden; }

.wrapper {
  position: relative;
  overflow: hidden; }

.logo img {
  max-width: 100%; }

.main {
  position: relative;
  overflow: hidden; }

.no-bg {
  background: none; }

.index-landing {
  padding-top: 100px; }

.pb-wrap {
  padding-bottom: 72px; }

body {
  background: #f8f8f8; }

/* header */
.header {
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  width: 100%;
  background: transparent;
  background: -moz-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #c9d6b9), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, #c9d6b9 0%, black 100%);
  background: -ms-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .header.white {
    background: -moz-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #c9d6b9), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, #fff 0%, black 100%);
    background: -ms-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, #fff 0%, rgba(0, 0, 0, 0) 100%); }
  .header .logo {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 290px; }
    @media only screen and (max-width: 1200px) {
      .header .logo {
        position: relative; } }
    @media only screen and (max-width: 767px) {
      .header .logo {
        display: none; } }
    .header .logo img {
      width: 100%;
      display: block;
      z-index: 2; }
  .header .navigation {
    overflow: hidden;
    display: none;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s; }
    .header .navigation.active {
      display: block; }
    .header .navigation ul {
      display: block;
      position: fixed;
      width: 320px;
      height: 100vh;
      padding: 90px 20px 30px;
      list-style: none;
      background-color: #7fb539;
      top: 0;
      z-index: 2;
      -moz-transition: all 2.9s;
      -o-transition: all 2.9s;
      -webkit-transition: all 2.9s;
      -ms-transition: all 2.9s;
      transition: all 2.9s; }
      .header .navigation ul li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.7); }
        .header .navigation ul li a {
          display: block;
          width: 100%;
          color: #fff;
          font-size: 18px;
          padding: 16px 18px 14px 18px;
          border: none;
          background: none;
          box-shadow: none;
          text-align: left;
          text-decoration: none; }
    .header .navigation-button {
      position: relative;
      padding: 24px 28px;
      display: block;
      background-color: #7fb539;
      font-size: 26px;
      color: #fff;
      z-index: 100; }
    .header .navigation-top ul {
      display: flex; }
    .header .navigation-top__button {
      display: block;
      font-family: 'HelveticaNeueCyr-Roman', sans-serif;
      font-size: 18px;
      font-weight: normal;
      line-height: normal;
      letter-spacing: 0.9px;
      color: #ffffff;
      text-decoration: none; }
      .header .navigation-top__button:hover {
        opacity: 0.8; }
      @media only screen and (max-width: 576px) {
        .header .navigation-top__button {
          padding: 31px 15px !important;
          font-size: 16px; } }
      .header .navigation-top__button.gray {
        background-color: #e4e4e4;
        color: #262626;
        padding: 30px 45px; }
      .header .navigation-top__button.green {
        background-color: #7fb539;
        padding: 30px 60px; }

.main {
  overflow: visible; }

/* bnr */
.bnr {
  margin-top: -100px;
  padding-top: 123px;
  padding-bottom: 120px;
  text-align: center;
  background: url(../img/main-bg.jpg) no-repeat top;
  background-size: cover; }
  @media only screen and (max-width: 576px) {
    .bnr {
      padding-bottom: 60px; } }
  .bnr .logo {
    display: inline-block;
    margin-bottom: 63px; }
  .bnr h1 {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.75px;
    color: #1e191a;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .bnr h1 {
        font-size: 28px; } }
    .bnr h1 span {
      color: #7fb539; }
  .bnr .subtitle {
    font-family: 'HelveticaNeueCyr-Roman', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: #303030;
    text-transform: uppercase;
    padding-top: 10px; }
  .bnr .booking-form {
    margin-top: 95px;
    margin-bottom: 140px; }
    @media only screen and (max-width: 768px) {
      .bnr .booking-form {
        margin-top: 50px;
        margin-bottom: 50px; } }

.booking-form {
  padding: 14px 15px 0;
  background-color: #fff;
  box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.33);
  border-radius: 5px; }
  .booking-form-item {
    position: relative; }
    .booking-form-item__title {
      display: block;
      font-size: 15px;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.75px;
      text-align: left;
      color: #626161;
      padding-bottom: 10px; }
    .booking-form-item input[type=text],
    .booking-form-item select,
    .booking-form-item option {
      margin-bottom: 19px;
      padding: 15px;
      border-radius: 3px;
      font-family: 'HelveticaNeueCyr-Roman', sans-serif;
      font-size: 17px;
      letter-spacing: 0.85px;
      text-align: left;
      color: #969595; }
      @media only screen and (max-width: 1199px) {
        .booking-form-item input[type=text],
        .booking-form-item select,
        .booking-form-item option {
          width: 100%;
          max-width: 100%; } }
    .booking-form-item select {
      background-image: linear-gradient(45deg, transparent 50%, #d6d6d6 50%), linear-gradient(135deg, #d6d6d6 50%, transparent 50%);
      background-position: calc(100% - 16px) 50%, calc(100% - 10px) 50%;
      background-size: 6px 6px, 6px 6px;
      background-repeat: no-repeat;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .booking-form-item .datepicker {
      max-width: 153px;
      background-image: url(../img/calendary-ico.png);
      background-repeat: no-repeat;
      background-position: 12px 50%; }
      .booking-form-item .datepicker[placeholder] {
        padding-left: 40px; }
    .booking-form-item.field-icon__location {
      position: relative; }
      .booking-form-item.field-icon__location:after {
        position: absolute;
        display: block;
        left: 12px;
        top: 43px;
        width: 20px;
        height: 20px;
        content: url("../img/location.png"); }
      .booking-form-item.field-icon__location select {
        padding-left: 39px; }
    .booking-form-item input[type=submit] {
      margin-top: 14px;
      margin-bottom: 19px;
      min-width: 190px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0.7px;
      text-transform: uppercase; }

/* Footer */
.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #999997;
  text-align: center; }
  .footer-top {
    max-width: 640px;
    margin: 0 auto; }
    .footer-top a {
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      letter-spacing: 0.7px; }
    .footer-top ul {
      padding-top: 28px;
      display: flex;
      justify-content: space-evenly; }
  .footer-button {
    display: inline-block;
    width: 140px;
    font-weight: 700;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: 3px solid #fff;
    padding: 5px 16px;
    margin-bottom: 21px; }
    .footer-button:hover {
      background-color: #414141;
      border-color: #414141;
      color: #fff; }
  .footer-copyright {
    padding-top: 20px;
    font-size: 12px;
    color: #fff; }

.pagination {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #343434; }
  .pagination ul {
    display: flex; }
    .pagination ul li:first-child a {
      margin-left: 0px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
    .pagination ul li:last-child a {
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
    .pagination ul li a {
      display: block;
      margin-left: -1px;
      padding: 6px 14px;
      text-decoration: none;
      border: 1px solid #ddd;
      background-color: #fff; }
      .pagination ul li a.active {
        background-color: #7fb539;
        color: #fff; }
        .pagination ul li a.active:hover {
          background-color: #7fb539; }
      .pagination ul li a:hover {
        background-color: #ddecc9; }

.room__bnr {
  background: url(../img/room-bg.jpg) no-repeat top;
  padding-bottom: 100px; }

.room__description {
  padding-top: 66px;
  padding-bottom: 110px;
  background: #fff; }
  .room__description .room__slider-preview {
    margin-bottom: 15px; }
  .room__description .room__slider-thumb {
    margin-bottom: 15px;
    width: 90%;
    margin-left: 5%; }
    .room__description .room__slider-thumb img {
      padding: 0px 7px; }
    .room__description .room__slider-thumb .slick-prev,
    .room__description .room__slider-thumb .slick-next {
      width: 22px;
      height: 28px; }
      .room__description .room__slider-thumb .slick-prev:before,
      .room__description .room__slider-thumb .slick-next:before {
        top: calc(50% - 14px); }
    .room__description .room__slider-thumb .slick-prev:before {
      content: url(../img/arrow-left-light.png); }
    .room__description .room__slider-thumb .slick-next:before {
      content: url(../img/arrow-right-light.png); }
  .room__description p {
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.67;
    letter-spacing: 0.45px;
    color: #525252; }
  .room__description-title {
    font-size: 38px;
    line-height: 1;
    letter-spacing: 1.9px;
    color: #212121;
    padding-bottom: 12px; }
  .room__description p.room__description-price {
    font-size: 38px;
    line-height: 1;
    letter-spacing: 1.9px;
    color: #212121;
    padding-bottom: 15px; }
  .room__description-rating {
    padding-bottom: 12px;
    display: flex;
    flex-wrap: wrap; }
    .room__description-rating span {
      padding-left: 14px;
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.7px;
      color: #8b8b8b; }
  .room__description a.secondary-button {
    padding: 22px 15px;
    width: 100%;
    max-width: 300px; }

.room__about {
  padding-bottom: 30px;
  background-color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #272727; }
  .room__about-box {
    padding: 27px 20px 28px;
    box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff; }
  .room__about h2 {
    padding-bottom: 13px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.7px;
    color: #272727; }
  .room__about p {
    padding-bottom: 12px; }
  .room__about-subtitle {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: 0.55px;
    color: #272727; }
  .room__about ul {
    padding-left: 26px; }
    .room__about ul li {
      line-height: 2;
      position: relative; }
      .room__about ul li:before {
        position: absolute;
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        background: #9fc86b;
        border-radius: 50%;
        left: -16px;
        top: 11px; }

.rating-stars {
  width: 85px;
  height: 16px;
  position: relative; }
  .rating-stars__empty {
    background: url(../img/stars-empty.png);
    height: 100%; }
  .rating-stars__full {
    background: url(../img/stars-full.png);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; }

.search-result__bnr {
  padding-top: 245px;
  padding-bottom: 116px;
  background: url(../img/search-bg.jpg) no-repeat top; }

.search-result {
  padding-top: 33px;
  padding-bottom: 50px;
  background: #FFF; }
  .search-result__item {
    position: relative;
    margin-top: 33px;
    padding: 9px 9px 15px;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.07);
    background-color: #ffffff; }
    .search-result__item-link {
      position: absolute;
      top: 11px;
      left: 24px;
      width: 40px;
      height: 40px;
      z-index: 5; }
    .search-result__item-slider {
      position: relative; }
      .search-result__item-slider:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 5%;
        height: 100%;
        width: 90%;
        border-bottom: 9px solid #7fb539;
        border-radius: 10px; }
      .search-result__item-slider.slick-dotted.slick-slider {
        margin: 0; }
      .search-result__item-slider ul.slick-dots {
        bottom: 15px; }
        .search-result__item-slider ul.slick-dots button {
          width: 18px;
          height: 18px; }
          .search-result__item-slider ul.slick-dots button:before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            top: 4px;
            left: 4px;
            background: #f9f9f9;
            opacity: 0.61;
            border-radius: 50%; }
        .search-result__item-slider ul.slick-dots .slick-active button {
          border-radius: 50%;
          border: solid 1px #a3a3a3; }
          .search-result__item-slider ul.slick-dots .slick-active button:before {
            opacity: 1; }
    .search-result__item-slide {
      position: relative; }
      .search-result__item-slide img {
        width: 100%;
        height: 90%;
        border-radius: 10px; }
    .search-result__item-title {
      padding-top: 9px;
      padding-bottom: 9px;
      font-family: 'HelveticaNeueCyr', sans-serif;
      font-size: 30px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 1.5px;
      color: #212121; }
      @media only screen and (max-width: 767px) {
        .search-result__item-title {
          padding-top: 25px; } }
    .search-result__item-content {
      padding-left: 16px; }
      .search-result__item-content ul {
        padding-bottom: 7px; }
        .search-result__item-content ul li {
          position: relative;
          line-height: 1.6;
          letter-spacing: 0.8px;
          color: #696969; }
          .search-result__item-content ul li:before {
            position: absolute;
            display: block;
            content: '';
            width: 8px;
            height: 8px;
            background: #7fb539;
            border-radius: 50%;
            left: -17px;
            top: 7px; }
      .search-result__item-content span {
        font-size: 16px;
        letter-spacing: 0.8px;
        color: #3b3a3a; }
    .search-result__item-price {
      padding-bottom: 23px;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0.7px;
      color: #626262; }
      .search-result__item-price span {
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.4px;
        color: #010101;
        font-weight: 700; }
    .search-result__item-buttons {
      display: flex;
      justify-content: start;
      align-items: stretch;
      flex-wrap: wrap; }
      @media only screen and (max-width: 992px) {
        .search-result__item-buttons {
          flex-direction: column; } }
      .search-result__item-buttons a {
        margin-right: 22px;
        margin-bottom: 7px; }
        @media only screen and (max-width: 992px) {
          .search-result__item-buttons a {
            text-align: center;
            margin-right: 0px;
            margin-bottom: 10px; } }
        .search-result__item-buttons a:last-child {
          margin-right: 0; }
        .search-result__item-buttons a.secondary-button {
          padding: 15px 54px; }
    .search-result__item .button-location {
      margin-bottom: 7px;
      width: 46px;
      height: 46px;
      display: block;
      padding: 8px;
      border-radius: 50%;
      border: solid 1px rgba(163, 163, 163, 0.41);
      background-color: #f9f9f9; }
      .search-result__item .button-location img {
        display: block;
        width: 28px;
        height: 28px; }

.checkout__bnr {
  padding-bottom: 240px;
  background: url(../img/room-bg.jpg) no-repeat top; }

.checkout {
  padding-bottom: 50px;
  padding-top: 50px; }
  .checkout-form {
    padding: 35px 35px 25px;
    border: solid 1px rgba(211, 235, 255, 0.5);
    background-color: #ffffff; }
    .checkout-form h2 {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.3px;
      text-align: left;
      color: #2e3949;
      padding-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .checkout-form h2 {
          font-size: 24px; } }
    .checkout-form h3 {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.3px;
      text-align: left;
      color: #2e3949;
      padding-bottom: 15px; }
    .checkout-form p {
      color: #404040;
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.14px;
      padding-bottom: 30px; }
    .checkout-form__item {
      margin-bottom: 21px;
      position: relative; }
      .checkout-form__item i {
        position: absolute;
        display: block;
        content: '';
        top: 17px;
        left: 14px;
        font-size: 22px;
        color: #e0e0e0; }
      .checkout-form__item i + input {
        padding-left: 50px !important; }
    .checkout-form__guest-button {
      width: 100%;
      padding: 11px 5px;
      border-radius: 1px;
      font-family: 'Museo Sans Cyrl', sans-serif;
      border: solid 3px #7fb539;
      background-color: #fff;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0.9px;
      color: #7fb539;
      text-align: center;
      cursor: pointer; }
      .checkout-form__guest-button:hover {
        box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15); }
    .checkout-form__guest {
      padding-bottom: 15px;
      display: none; }
    .checkout-form__guest-section {
      border-top: 1px solid #e2e2e2;
      padding-top: 20px; }
      .checkout-form__guest-section:first-child {
        padding-top: 0px;
        border: none; }
    .checkout-form__add-guest {
      color: #7fb539;
      font-weight: 500;
      display: block; }
    .checkout-form hr {
      padding-bottom: 5px;
      border: none;
      border-top: 1px solid #e2e2e2; }
    .checkout-form__services {
      padding-bottom: 10px; }
      .checkout-form__services-item {
        position: relative;
        margin-bottom: 15px;
        flex: 1 1 50%;
        display: flex;
        align-items: flex-start;
        font-size: 14px;
        letter-spacing: 0.7px;
        color: #707070; }
        @media only screen and (max-width: 575px) {
          .checkout-form__services-item {
            flex: 1 1 100%; } }
        .checkout-form__services-item input {
          margin-top: 3px;
          flex-shrink: 0;
          background: #f9f9f9; }
          .checkout-form__services-item input:checked {
            background: #fff; }
        .checkout-form__services-item strong {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.33;
          color: #404040; }
        .checkout-form__services-item p {
          padding-bottom: 0;
          color: #565656;
          line-height: 1.2;
          letter-spacing: 0.14px; }
    .checkout-form input[type=text],
    .checkout-form input[type=email],
    .checkout-form input[type=password],
    .checkout-form input[type=tel] {
      max-width: 100%;
      padding: 18px 20px;
      font-weight: 300;
      margin-bottom: 0;
      border-radius: 3px; }
    .checkout-form input[type=checkbox],
    .checkout-form input[type=radio] {
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      height: 20px;
      width: 20px;
      position: relative;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64);
      vertical-align: middle; }
      .checkout-form input[type=checkbox]:checked:after,
      .checkout-form input[type=radio]:checked:after {
        content: '';
        position: absolute;
        display: block;
        height: 12px;
        width: 12px;
        top: 4px;
        left: 4px;
        background: #7fb539; }
    .checkout-form input[type=radio] {
      border-radius: 50%;
      vertical-align: bottom; }
      .checkout-form input[type=radio]:checked:after {
        border-radius: 50%; }
    .checkout-form input[type=submit] {
      width: 100%;
      max-width: 340px;
      padding: 16px 15px;
      font-size: 16px;
      font-weight: 500; }
    .checkout-form textarea {
      margin-bottom: 0;
      max-width: 100%;
      padding: 14px 20px;
      resize: none;
      height: 80px;
      color: #898989;
      font-weight: 300;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64); }
    .checkout-form label {
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: 0.8px; }
  .checkout-info {
    box-shadow: 0 0 38px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    padding: 25px 22px 32px;
    margin-bottom: 30px; }
    .checkout-info__item {
      padding: 14px 11px;
      border-bottom: 1px solid #ebebeb; }
      .checkout-info__item span {
        font-size: 15px;
        letter-spacing: 0.75px;
        color: #343434;
        line-height: 1; }
      .checkout-info__item p {
        display: inline;
        font-family: 'HelveticaNeueCyr-Roman', sans-serif;
        font-size: 17px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.85px;
        color: #969595; }
    .checkout-info__price {
      display: block;
      padding: 30px 11px 0;
      font-size: 38px;
      line-height: 1;
      letter-spacing: 1.9px;
      text-align: left;
      color: #212121; }
      @media only screen and (max-width: 992px) {
        .checkout-info__price {
          font-size: 24px; } }
  .checkout-payment__tab-links {
    display: flex;
    justify-content: space-between; }
    .checkout-payment__tab-links label {
      margin-right: 50px;
      color: #878787;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.8px;
      background: #fff;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.11);
      display: flex;
      align-items: center;
      height: 54px;
      text-decoration: none;
      border: 2px solid transparent;
      border-radius: 3px;
      cursor: pointer; }
      @media only screen and (max-width: 1200px) {
        .checkout-payment__tab-links label {
          margin-right: 10px; } }
      .checkout-payment__tab-links label i {
        padding: 0 12px;
        color: #7fb539;
        font-size: 24px; }
        @media only screen and (max-width: 767px) {
          .checkout-payment__tab-links label i {
            font-size: 16px; } }
  .checkout-payment__tab {
    padding-top: 23px;
    display: none; }
    .checkout-payment__tab.active {
      display: block; }
  .checkout-payment__paypal {
    background: #f8f8f8;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.63); }
    .checkout-payment__paypal p {
      padding: 18px 20px;
      font-size: 16px;
      font-weight: 300;
      line-height: normal;
      font-size: 16px;
      letter-spacing: 0.8px;
      color: #898989; }
  .checkout-payment__form-policy {
    padding-bottom: 30px; }
    .checkout-payment__form-policy label {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.7px;
      color: #404040;
      line-height: 1.5; }
    .checkout-payment__form-policy input[type=checkbox] {
      box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.21); }
    .checkout-payment__form-policy a {
      color: #5692ce;
      text-decoration: none; }
      .checkout-payment__form-policy a:hover {
        text-decoration: underline; }

.listing__bnr {
  padding-bottom: 285px;
  background: url(../img/listing-bg.jpg) no-repeat top; }

.listing-booking {
  margin-top: -40px;
  padding-bottom: 50px; }

.listing-info {
  font-size: 18px;
  font-weight: 100;
  line-height: normal;
  text-align: left;
  color: #5a5a5a; }
  .listing-info h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.8px;
    color: #252525;
    padding-bottom: 6px; }
  .listing-info__item {
    margin-bottom: 25px; }
    .listing-info__item-wrap {
      display: block;
      padding: 3px 16px;
      border: solid 1px #7fb539;
      background-color: #f3fce8; }
      .listing-info__item-wrap p {
        font-family: 'HelveticaNeueCyr', sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.88;
        letter-spacing: 0.8px;
        color: #4c4c4c; }
  .listing-info__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    width: 53px;
    box-shadow: 0 0 13px 0 rgba(76, 76, 76, 0.18);
    background-color: #ffffff;
    border-radius: 50%;
    border: transparent; }
    .listing-info__link:hover {
      box-shadow: 0 0 7px 0 rgba(76, 76, 76, 0.18); }

.listing-result {
  padding-top: 0;
  background-color: #f8f8f8; }
  .listing-result .search-result__item {
    padding-bottom: 0; }
    .listing-result .search-result__item-title {
      font-family: 'Museo Sans Cyrl', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.45px;
      color: #3b3a3a; }
  .listing-result .button-location {
    margin-right: 10px; }
  .listing-result .search-result__item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: flex; }
    @media only screen and (max-width: 992px) {
      .listing-result .search-result__item-buttons {
        flex-direction: row; } }
    .listing-result .search-result__item-buttons a {
      margin-right: 8px;
      padding: 15px 5px; }
      .listing-result .search-result__item-buttons a:last-child {
        margin-right: 0; }
    .listing-result .search-result__item-buttons .button-empty {
      padding: 15px 5px;
      flex: 1 0 60%; }
    .listing-result .search-result__item-buttons .button {
      padding: 14px 5px;
      flex: 1 0 35%; }

.listing-map {
  padding-top: 70px; }
  .listing-map img {
    max-width: 100%; }

.portal-wrapper .header {
  background: #e8e8e8;
  position: relative;
  padding-bottom: 0; }
  .portal-wrapper .header .logo {
    position: absolute;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-decoration: none;
    max-width: 100%; }
    .portal-wrapper .header .logo img {
      padding-right: 11px; }
  .portal-wrapper .header .button-empty {
    margin-top: 24px;
    margin-bottom: 13px;
    padding: 0 35px;
    height: 54px;
    min-width: 190px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #7fb539;
    border-radius: 25px;
    border: solid 2px #7fb539;
    background-color: rgba(255, 255, 255, 0.75); }
    .portal-wrapper .header .button-empty img,
    .portal-wrapper .header .button-empty i {
      padding-right: 14px; }
    @media only screen and (max-width: 575px) {
      .portal-wrapper .header .button-empty {
        padding: 0 15px;
        height: 40px;
        font-size: 12px;
        min-width: auto; }
        .portal-wrapper .header .button-empty img {
          max-width: 30px; } }

.portal {
  padding-top: 70px;
  padding-bottom: 150px;
  font-family: 'Museo Sans Cyrl', sans-serif; }
  .portal__v2mom {
    margin-bottom: 23px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    background-color: #fcfcfc;
    overflow: hidden; }
    .portal__v2mom figure {
      text-align: right; }
      @media only screen and (max-width: 992px) {
        .portal__v2mom figure {
          padding: 15px; } }
      .portal__v2mom figure img {
        width: 100%;
        display: block; }
        @media only screen and (max-width: 992px) {
          .portal__v2mom figure img {
            max-width: 320px;
            margin: 0 auto; } }
    .portal__v2mom h5 {
      color: #323232;
      padding-bottom: 15px;
      font-size: 20px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 1px; }
    .portal__v2mom textarea {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.17);
      background-color: #ffffff;
      display: block;
      border-radius: 18px;
      width: 100%;
      height: 135px;
      padding: 14px 20px;
      margin-bottom: 14px;
      color: #595959;
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.8px; }
      .portal__v2mom textarea:focus {
        box-shadow: 0 0 8px rgba(23, 123, 194, 0.62); }
    .portal__v2mom section {
      padding: 15px; }
      @media only screen and (max-width: 992px) {
        .portal__v2mom section {
          text-align: center; } }
    .portal__v2mom .button {
      font-weight: normal;
      padding: 16px 20px;
      background-color: #7fb539;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%); }
  .portal__sidebar {
    padding-bottom: 30px; }
    .portal__sidebar li {
      padding-bottom: 9px; }
      .portal__sidebar li a {
        display: flex;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0px;
        line-height: 1;
        background: #7fb539;
        align-items: center;
        text-decoration: none;
        padding: 10px 12px;
        max-height: 64px; }
        @media only screen and (max-width: 992px) {
          .portal__sidebar li a {
            font-size: 16px; } }
        .portal__sidebar li a img {
          padding: 0 24px 0 0; }
          @media only screen and (max-width: 992px) {
            .portal__sidebar li a img {
              padding: 0 10px 0 0;
              max-width: 30px; } }
        .portal__sidebar li a:hover, .portal__sidebar li a.active {
          opacity: 0.9; }
  .portal__main {
    padding-bottom: 40px; }
    .portal__main hr {
      border: none;
      margin: 20px 0;
      display: block;
      border-top: 1px solid #d4d4d4; }
    .portal__main h1 {
      color: #595959;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1.2px;
      line-height: 1;
      padding-bottom: 25px; }
  .portal__main-text {
    color: #595959;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px; }
    .portal__main-text a {
      color: #0070bf;
      letter-spacing: 0.8px;
      text-decoration: none; }
      .portal__main-text a:hover {
        text-decoration: none; }
    .portal__main-text p {
      padding-bottom: 15px; }
    .portal__main-text h1,
    .portal__main-text h2 {
      color: #595959;
      padding-bottom: 24px;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1.2px; }
  .portal__main-center {
    padding: 25px 0; }
    .portal__main-center p {
      color: #595959;
      font-size: 16px;
      font-weight: 300; }
      .portal__main-center p a {
        color: #7fb539;
        letter-spacing: 0.8px;
        text-decoration: underline; }
        .portal__main-center p a:hover {
          text-decoration: none; }
    .portal__main-center table td {
      color: #595959;
      font-size: 18px;
      font-weight: 300;
      line-height: 48px;
      color: #3e3e3e;
      font-family: "Open Sans", sans-serif;
      letter-spacing: 0.9px; }
  .portal__main-table table td {
    color: #595959;
    font-size: 18px;
    font-weight: 700;
    color: #3e3e3e;
    letter-spacing: 0.9px;
    padding: 15px 23px;
    background: #efefef; }
    .portal__main-table table td:first-child {
      font-weight: 300; }
  .portal__main-table table tr:nth-child(2n) td {
    background: #fff; }
  .portal__main-form select,
  .portal__main-form input:not(.button) {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.44);
    background-color: #ffffff;
    border: none;
    height: 49px;
    width: 100%;
    border-radius: 22px;
    padding: 0 25px;
    color: #595959;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.8px; }
    .portal__main-form select.small,
    .portal__main-form input:not(.button).small {
      width: 261px; }
      @media only screen and (max-width: 575px) {
        .portal__main-form select.small,
        .portal__main-form input:not(.button).small {
          width: 100%; } }
  .portal__main-form select {
    -webkit-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #808387 50%), linear-gradient(135deg, #808387 50%, transparent 50%);
    background-position: calc(100% - 26px) 50%, calc(100% - 20px) 50%;
    background-size: 6px 6px, 6px 6px;
    background-repeat: no-repeat; }
  .portal__main-form .button {
    background-color: #7fb539;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;
    padding: 14px;
    text-transform: none; }
    .portal__main-form .button.small {
      width: 261px; }
  .portal__main-form-item {
    margin-bottom: 14px; }
  .portal__main-history {
    font-family: "Open Sans", sans-serif;
    color: #383838;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 20px;
    background: #fff;
    padding-bottom: 40px; }
    .portal__main-history th {
      text-align: left;
      font-weight: 400;
      padding: 16px 20px;
      border-bottom: 5px solid rgba(0, 0, 0, 0.1); }
    .portal__main-history td {
      padding: 9px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .portal__main-history strong {
      display: block; }
    @media only screen and (max-width: 992px) {
      .portal__main-history {
        max-width: 767px;
        overflow-x: auto; } }
  @media only screen and (max-width: 576px) {
    .portal__main-invoice {
      text-align: center; } }
  .portal__main-invoice-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .portal__main-invoice p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.8px;
    color: #333333; }
  .portal__main-invoice span {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
    line-height: 2;
    color: #595959; }
  .portal__main-invoice .invoice-item__price {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 1;
    color: #0e0e0e;
    text-align: right; }
    @media only screen and (max-width: 768px) {
      .portal__main-invoice .invoice-item__price {
        text-align: inherit; } }
  .portal__main-search.search-result {
    padding-top: 0; }
  .portal__main-search .search-result__item {
    border-radius: 5px; }
  .portal__main-search .search-result__item-buttons {
    flex-direction: row;
    justify-content: space-between; }
    @media only screen and (max-width: 576px) {
      .portal__main-search .search-result__item-buttons {
        flex-direction: column; } }
    .portal__main-search .search-result__item-buttons a {
      margin-right: 22px;
      padding: 15px 5px; }
      .portal__main-search .search-result__item-buttons a:last-child {
        margin-right: 0; }
      @media only screen and (max-width: 576px) {
        .portal__main-search .search-result__item-buttons a {
          margin-right: 0px; } }
    .portal__main-search .search-result__item-buttons .secondary-button {
      color: #fff;
      padding: 14px 20px;
      max-width: 100%;
      flex-basis: 0;
      flex: 1;
      max-width: 100%; }
    .portal__main-search .search-result__item-buttons .button-empty {
      color: #7b7b7b;
      padding: 15px 20px;
      flex: 0 1 auto;
      width: auto; }

.portal-login-modal {
  max-width: 455px;
  border-radius: 5px;
  padding: 0;
  font-family: 'Museo Sans Cyrl', sans-serif; }
  .portal-login-modal__title {
    padding: 10px 20px;
    background-image: linear-gradient(to top, #dedede 0%, #ededed 2%, #fdfdfd 40%, #ffffff 100%); }
    .portal-login-modal__title h3 {
      color: #373737;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.9px; }
  .portal-login-modal__form {
    padding: 14px 20px 23px; }
    .portal-login-modal__form-item {
      margin-bottom: 15px; }
    .portal-login-modal__form input {
      font-size: 14px;
      border-radius: 24px;
      text-align: center; }
    .portal-login-modal__form input[type=submit] {
      font-size: 14px;
      font-weight: 500;
      text-transform: none;
      padding: 14px 40px; }
    .portal-login-modal__form-spam {
      font-size: 14px;
      color: #525252; }
      .portal-login-modal__form-spam i {
        opacity: 0.4;
        padding-right: 5px; }

.thank-you__bnr {
  padding-bottom: 80px;
  padding-top: 0;
  background: #f8f8f8; }

.thank-you {
  padding-top: 70px;
  padding-bottom: 100px;
  background: #fff;
  min-height: calc(100vh - 80px);
  font-size: 24px;
  letter-spacing: 1.2px;
  text-align: center;
  color: #2f2f2f; }
  @media only screen and (max-width: 768px) {
    .thank-you {
      font-size: 22px; } }
  .thank-you .container {
    max-width: 760px; }
  .thank-you h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .thank-you h1 {
        font-size: 32px; } }
  .thank-you p {
    padding-bottom: 20px; }
  .thank-you img {
    max-width: 100%; }
