body {
	background: #f8f8f8;
}
/* header */
.header {
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
	width: 100%;
	background: transparent;
	background: -moz-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #c9d6b9), color-stop(100%, rgba(0, 0, 0, 0.1)));
	background: -webkit-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 01) 100%);
	background: -ms-linear-gradient(top, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to bottom, #c9d6b9 0%, rgba(0, 0, 0, 0) 100%);
	&.white {
		background: -moz-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #c9d6b9), color-stop(100%, rgba(0, 0, 0, 0.1)));
		background: -webkit-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0) 100%);
		background: -o-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 01) 100%);
		background: -ms-linear-gradient(top, #fff 0%, rgba(0, 0, 0, 0) 100%);
		background: linear-gradient(to bottom, #fff 0%, rgba(0, 0, 0, 0) 100%);
	}
	@include transition(all .5s);
	.logo {
		text-align: center;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 290px;
		@include mq($max-width: 1200px) {
			position: relative;
		}
		@include mq($max-width: 767px) {
			display: none;
		}
		img {
			width: 100%;
			display: block;
			z-index: 2;
		}
	}
	.navigation {
		overflow: hidden;
		display: none;
		@include transition(all 0.3s);
		&.active {
			display: block;
		}
		ul {
			display: block;
			position: fixed;
			width: 320px;
			height: 100vh;
			padding: 90px 20px 30px;
			list-style: none;
			background-color: $maincolor;
			top: 0;
			z-index: 2;
			@include transition(all 2.9s);
			li {
				display: block;
				border-bottom: 1px solid rgba(255, 255, 255, 0.70);
				a {
					display: block;
					width: 100%;
					color: #fff;
					font-size: 18px;
					padding: 16px 18px 14px 18px;
					border: none;
					background: none;
					box-shadow: none;
					text-align: left;
					text-decoration: none;
				}
			}
		}
		&-button {
			position: relative;
			padding: 24px 28px;
			display: block;
			background-color: $maincolor;
			font-size: 26px;
			color: #fff;
			z-index: 100;
		}
		&-top {
			ul {
				display: flex;
			}
			&__button {
				display: block;
				font-family: 'HelveticaNeueCyr-Roman', sans-serif;
				font-size: 18px;
				font-weight: normal;
				line-height: normal;
				letter-spacing: 0.9px;
				color: #ffffff;
				text-decoration: none;
				&:hover {
					opacity: 0.8;
				}
				@include mq($max-width: 576px) {
					padding: 31px 15px !important;
					font-size: 16px;
				}
				&.gray {
					background-color: #e4e4e4;
					color: #262626;
					padding: 30px 45px;
				}
				&.green {
					background-color: $maincolor;
					padding: 30px 60px;
				}
			}
		}
	}
}
.main {
	overflow: visible;
}
/* bnr */
.bnr {
	margin-top: -100px;
	padding-top: 123px;
	padding-bottom: 120px;
	text-align: center;
	background: url(../img/main-bg.jpg) no-repeat top;
	background-size: cover;
	@include mq($max-width: 576px) {
		padding-bottom: 60px;
	}
	.logo {
		display: inline-block;
		margin-bottom: 63px;
	}
	h1 {
		font-family: 'HelveticaNeueCyr', sans-serif;
		font-size: 55px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 2.75px;
		color: #1e191a;
		text-transform: uppercase;
		@include mq($max-width: 768px) {
			font-size: 28px;
		}
		span {
			color: $maincolor;
		}
	}
	.subtitle {
		font-family: 'HelveticaNeueCyr-Roman', sans-serif;
		font-size: 20px;
		font-weight: normal;
		line-height: normal;
		letter-spacing: 1px;
		color: #303030;
		text-transform: uppercase;
		padding-top: 10px;
	}
	.booking-form {
		margin-top: 95px;
		margin-bottom: 140px;
		@include mq($max-width: 768px) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
}
.booking-form {
	padding: 14px 15px 0;
	background-color: #fff;
	box-shadow: 0 0 29px 0 rgba(0, 0, 0, 0.33);
	border-radius: 5px;
	&-item {
		position: relative;
		&__title {
			display: block;
			font-size: 15px;
			font-weight: 300;
			line-height: normal;
			letter-spacing: 0.75px;
			text-align: left;
			color: #626161;
			padding-bottom: 10px;
		}
		input[type=text],
		select,
		option {
			margin-bottom: 19px;
			padding: 15px;
			border-radius: 3px;
			font-family: 'HelveticaNeueCyr-Roman', sans-serif;
			font-size: 17px;
			letter-spacing: 0.85px;
			text-align: left;
			color: #969595;
			@include mq($max-width: 1199px) {
				width: 100%;
				max-width: 100%;
			}
		}
		select {
			background-image: linear-gradient(45deg, transparent 50%, #d6d6d6 50%), linear-gradient(135deg, #d6d6d6 50%, transparent 50%);
			background-position: calc(100% - 16px) 50%, calc(100% - 10px) 50%;
			background-size: 6px 6px, 6px 6px;
			background-repeat: no-repeat;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}
		.datepicker {
			max-width: 153px;
			background-image: url(../img/calendary-ico.png);
			background-repeat: no-repeat;
			background-position: 12px 50%;
			&[placeholder] {
				padding-left: 40px;
			}
		}
		&.field-icon__location {
			position: relative;

			&:after {
				position: absolute;
				display: block;
				left: 12px;
				top: 43px;
				width: 20px;
				height: 20px;
				content: url('../img/location.png');
			}
			select {
				padding-left: 39px;
			}
		}
		input[type=submit] {
			margin-top: 14px;
			margin-bottom: 19px;
			min-width: 190px;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.7px;
			text-transform: uppercase;
		}
	}
}
/* Footer */
.footer {
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: #999997;
	text-align: center;
	&-top {
		max-width: 640px;
		margin: 0 auto;
		a {
			font-size: 16px;
			font-weight: 700;
			color: #fff;
			text-decoration: none;
			letter-spacing: 0.7px;
		}
		ul {
			padding-top: 28px;
			display: flex;
			justify-content: space-evenly;
		}
	}
	&-button {
		display: inline-block;
		width: 140px;
		font-weight: 700;
		font-size: 17px;
		background-color: transparent;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border: 3px solid #fff;
		padding: 5px 16px;
		margin-bottom: 21px;
		&:hover {
			background-color: #414141;
			border-color: #414141;
			color: #fff;
		}
	}
	&-copyright {
		padding-top: 20px;
		font-size: 12px;
		color: #fff;
	}
}
.pagination {
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.38;
	letter-spacing: normal;
	color: #343434;
	ul {
		display: flex;
		li {
			&:first-child a {
				margin-left: 0px;
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
			}
			&:last-child a {
				border-top-right-radius: 2px;
				border-bottom-right-radius: 2px;
			}
			a {
				display: block;
				margin-left: -1px;
				padding: 6px 14px;
				text-decoration: none;
				border: 1px solid #ddd;
				background-color: #fff;
				&.active {
					background-color: $maincolor;
					color: #fff;
					&:hover{
						background-color: $maincolor;
					}
				}
				&:hover{
					background-color: #ddecc9;
				}
			}
		}
	}
}