.checkout__bnr {
	.bnr-box {
		padding: 38px 35px 30px;
		margin-bottom: 35px;
		&__top {
			border-bottom: 1px solid rgba(255, 255, 255, 0.75);
			span {
				font-size: 15px;
				letter-spacing: 0.75px;
				color: #c4c4c4;
			}
			p {
				font-size: 17px;
				letter-spacing: 0.85px;
				color: #ffffff;
				padding-bottom: 22px;
			}
		}
		&__bottom {
			padding-top: 20px;
			span {
				font-size: 38px;
				line-height: 1;
				letter-spacing: 1.9px;
				color: #ffffff;
			}
		}
	}
}
.checkout {
	padding-bottom: 50px;
	padding-top: 50px;
	background: #fff;
	h1 {
		font-family: 'Museo Sans Cyrl', sans-serif;
		font-size: 30px;
		font-weight: bold;
		letter-spacing: 0.3px;
		color: #2e3949;
		text-align: center;
		padding-bottom: 30px;
		@include mq($max-width: 767px) {
			font-size: 24px;
		}
	}
	&__accordion-title {
		position: relative;
		padding: 13px 31px;
		border: solid 1px rgba(211, 235, 255, 0.5);
		background: #f3f3f3;
		p {
			font-family: 'Museo Sans Cyrl', sans-serif;
			font-size: 24px;
			font-weight: 500;
			letter-spacing: 0.24px;
			line-height: 1;
			color: #2e3949;
			@include mq($max-width: 767px) {
				font-size: 20px;
			}
		}
		&.active i:before {
			content: '\f078';
		}
	}
	&__accordion-ico {
		position: absolute;
		top: 13px;
		right: 15px;
		font-size: 24px;
		line-height: 1;
		color: #868686;
	}
	&__accordion-content {
		padding: 21px 31px 10px;
		border: solid 1px rgba(211, 235, 255, 0.29);
		background: #fcfcfc;
		p {
			margin-bottom: 19px;
			font-size: 16px;
			font-weight: 300;
			line-height: 1;
			letter-spacing: 0.8px;
		}
	}
	&__form-item {
		padding-bottom: 19px;
	}
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=tel] {
		max-width: 100%;
		padding: 18px 20px;
		color: #898989;
		font-weight: 300;
		margin-bottom: 0;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64);
		&:focus {
			box-shadow: inset 0 0 2px 0 #e31932;
		}
	}
	input[type=checkbox],
	input[type=radio] {
		margin-right: 10px;
		cursor: pointer;
		display: inline-block;
		height: 20px;
		width: 20px;
		position: relative;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.14);
		vertical-align: middle;
		&:checked:after {
			content: '';
			position: absolute;
			display: block;
			height: 12px;
			width: 12px;
			top: 3px;
			left: 3px;
			background: #b42020;
		}
	}
	input[type=radio] {
		border-radius: 50%;
		vertical-align: sub;
		&:checked:after {
			border-radius: 50%;
		}
	}
	input[type=submit] {
		width: 100%;
		max-width: 340px;
		padding: 16px 15px;
		font-size: 16px;
		font-weight: 500;
	}
	textarea {
		margin-bottom: 0;
		max-width: 100%;
		padding: 14px 20px;
		resize: none;
		height: 80px;
		color: #898989;
		font-weight: 300;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64);
	}
	label {
		font-size: 16px;
		font-weight: 300;
		line-height: 1;
		letter-spacing: 0.8px;
	}
	select {
		width: 100%;
		min-height: 230px;
		box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64);
		border-color: transparent;
		outline-color: transparent;
		border: none;
		&.checkout__form-normal-select{
			margin-bottom: 0;
			min-height: 10px;
			max-width: 100%;
			color: #898989;
			font-weight: 300;
			-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url(../img/arrow-down.png) no-repeat 95% 50%;
		}
		option {
			font-family: 'HelveticaNeueCyr', sans-serif;
			padding: 13px 22px;
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.8px;
			font-weight: 300;
			color: #898989;
			&:checked {
				color: #fff;
				background: #e31932 linear-gradient(0deg, #e31932 0%, #e31932 100%);
			}
		}
	}
	&__additions {
		display: none;
		textarea {
			margin-bottom: 0;
		}
	}
	.datepicker {
		width: 100%;
		background-image: url(../img/calendary-ico.png);
		background-repeat: no-repeat;
		background-position: 12px 50%;
		&[placeholder] {
			padding-left: 35px;
		}
	}
	.booking-form-item__title {
		display: block;
		font-family: 'Museo Sans Cyrl', sans-serif;
		font-weight: 300;
		letter-spacing: 0.8px;
		font-size: 16px;
		color: #898989;
	}
	.button__add-texarea {
		padding: 9px;
		margin-bottom: 19px;
		display: flex;
		justify-content: center;
		border: solid 2px #e31932;
		border-radius: 5px;
		background: #ffffff;
		width: 100%;
		font-family: 'Museo Sans Cyrl', sans-serif;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: 0.9px;
		text-decoration: none;
		color: #e31932;
		i {
			padding-right: 13px;
			font-size: 29px;
			color: #e31932;
		}
	}
	&__form-radio {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	&__multiselect-available {
		position: relative;
		padding-bottom: 20px;
	}
	&__multiselect-buttons {
		position: absolute;
		top: 25px;
		right: -26px;
		bottom: auto;
		@include mq($max-width: 767px) {
			top: auto;
			right: calc(50% - 20px);
			bottom: -30px;
		}
		button {
			display: block;
			padding: 5px;
			font-size: 17px;
			background: none;
			color: #a4a4a4;
			margin-bottom: 10px;
			@include mq($max-width: 767px) {
				margin-bottom: 10px;
				display: inline-block;
				transform: rotate(90deg);
				font-size: 28px;
			}
		}
	}
	.checkout-payment {
		border: solid 1px rgba(211, 235, 255, 0.5);
		background: #f8f8f8;
		padding: 26px 33px 6px;
		&__content {
			h2 {
				font-size: 30px;
				font-weight: 700;
				letter-spacing: 0.3px;
				text-align: left;
				color: #2e3949;
				text-align: center;
				padding-bottom: 25px;
				@include mq($max-width: 767px) {
					font-size: 24px;
				}
			}
			p {
				color: #a9a9a9;
				font-size: 14px;
				font-weight: 300;
				letter-spacing: 0.14px;
				padding-bottom: 40px;
			}
		}
		&__item-pagging{
			padding-bottom: 19px;
		}
		&__tab-links {
			ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				li{
					margin-bottom: 10px;
					@include mq($max-width: 992px) {
						width: 50%;
					}
					@include mq($max-width: 576px) {
						width: 100%;
					}
				}
			}
			a {
				margin: 0 20px 0 0;
				padding: 0 18px;
				color: #878787;
				font-size: 16px;
				font-weight: 500;
				letter-spacing: 0.8px;
				background: #fff;
				box-shadow: 0 0 0 rgba(0, 0, 0, 0.11);
				display: flex;
				justify-content: center;
				align-items: center;
				height: 54px;
				text-decoration: none;
				border: 2px solid #f2f2f2;
				border-radius: 3px;
				@include mq($max-width: 767px) {
					font-size: 12px;
					padding: 0 10px;
					margin-right: 10px;
				}
				i {
					padding: 0 15px 0 0;
					color: #e31932;
					font-size: 24px;
					@include mq($max-width: 767px) {
						font-size: 16px;
					}
				}
				&.active,
				&:hover {
					border: 2px solid #e31932;
					box-shadow: 0 0 0 rgba(0, 0, 0, 0.11);
					border-radius: 3px;
					color: #000;
				}
			}
		}
		&__tab {
			display: none;
			&.active {
				display: block;
			}
		}
		&__card-info {
			background: #fff;
			display: flex;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64);
			input {
				width: 100%;
				box-shadow: none !important;
				border: none;

			}
			i {
				display: block;
				width: 100%;
				text-align: center;
				font-size: 26px;
				color: #e0e0e0;
				padding-left: 14px;
			}
			p {
				text-align: center;
				padding: 15px;
			}
		}
		&__paypal {
			background: #fff;
			box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.64);
			p {
				padding: 18px 20px;
				font-size: 16px;
				font-weight: 300;
				line-height: normal;
			}
		}
		&__form-check {
			padding-bottom: 30px;
			label {
				font-size: 14px;
				font-weight: 300;
				letter-spacing: 0.7px;
				color: #404040;
				line-height: 1.5;
			}
			input[type=checkbox] {
				box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.21);
			}
			a {
				color: #5692ce;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}

	}
}
	.booking-form-item__arrow:before {
		content: url(../img/input-arrow-gray.png);
		position: absolute;
		right: -32px;
		top: 14px;
		display: block;
		@include mq($max-width: 992px) {
			right: -40px;
		}
		@include mq($max-width: 767px) {
			display: none;
		}
	}