.listing__bnr {
	padding-bottom: 285px;
	background: url(../img/listing-bg.jpg) no-repeat top;
}
.listing-booking {
	margin-top: -40px;
	padding-bottom: 50px;
}
.listing-info {
	font-size: 18px;
	font-weight: 100;
	line-height: normal;
	text-align: left;
	color: #5a5a5a;
	h2 {
		font-size: 36px;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 1.8px;
		color: #252525;
		padding-bottom: 6px;
	}
	&__item {
		margin-bottom: 25px;
		&-wrap {
			display: block;
			padding: 3px 16px;
			border: solid 1px $maincolor;
			background-color: #f3fce8;
			p {
				font-family: 'HelveticaNeueCyr', sans-serif;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.88;
				letter-spacing: 0.8px;
				color: #4c4c4c;
			}
		}
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 53px;
		width: 53px;
		box-shadow: 0 0 13px 0 rgba(76, 76, 76, 0.18);
		background-color: #ffffff;
		border-radius: 50%;
		border: transparent;
		&:hover {
			box-shadow: 0 0 7px 0 rgba(76, 76, 76, 0.18);
		}
	}
}
.listing-result {
	padding-top: 0;
	background-color: #f8f8f8;
	.search-result__item {
		padding-bottom: 0;
		&-title {
			font-family: 'Museo Sans Cyrl', sans-serif;
			font-size: 18px;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.45px;
			color: #3b3a3a;
		}
	}
	.button-location {
		margin-right: 10px;
	}
	.search-result__item-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		display: flex;
		@include mq($max-width: 992px) {
			flex-direction: row;
		}
		a {
			margin-right: 8px;
			padding: 15px 5px;
			&:last-child{
				margin-right: 0;
			}
		}
		.button-empty {
			padding: 15px 5px;
			flex: 1 0 60%;
		}
		.button {
			padding: 14px 5px;
			flex: 1 0 35%;

		}
	}
}
.listing-map{
	padding-top: 70px;
	img{
		max-width: 100%;
	}
}