.room__bnr {
	background: url(../img/room-bg.jpg) no-repeat top;
	padding-bottom: 100px;

}
.room__description {
	padding-top: 66px;
	padding-bottom: 110px;
	background: #fff;
	.room__slider-preview {
		margin-bottom: 15px;
	}
	.room__slider-thumb {
    margin-bottom: 15px;
		width: 90%;
		margin-left: 5%;
		img {
			padding: 0px 7px;
		}
		.slick-prev,
		.slick-next {
			width: 22px;
			height: 28px;
			&:before {
				top: calc(50% - 14px);
			}
		}
		.slick-prev:before {
			content: url(../img/arrow-left-light.png);
		}
		.slick-next:before {
			content: url(../img/arrow-right-light.png);
		}
	}
	p {
		padding-bottom: 12px;
		font-size: 18px;
		font-weight: normal;
		line-height: 1.67;
		letter-spacing: 0.45px;
		color: #525252;
	}
	&-title {
		font-size: 38px;
		line-height: 1;
		letter-spacing: 1.9px;
		color: #212121;
		padding-bottom: 12px;
	}
	p.room__description-price {
		font-size: 38px;
		line-height: 1;
		letter-spacing: 1.9px;
		color: #212121;
		padding-bottom: 15px;
	}
	&-rating {
		padding-bottom: 12px;
		display: flex;
		flex-wrap: wrap;
		span {
			padding-left: 14px;
			font-size: 14px;
			line-height: 1.2;
			letter-spacing: 0.7px;
			color: #8b8b8b;
		}
	}
	a.secondary-button {
    padding: 22px 15px;
    width: 100%;
    max-width: 300px;
	}
}
.room__about {
	padding-bottom: 30px;
  background-color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #272727;
	&-box {
		padding: 27px 20px 28px;
		box-shadow: 0 0 57px 0 rgba(0, 0, 0, 0.06);
		background-color: #ffffff;
	}
	h2 {
    padding-bottom: 13px;
		font-size: 28px;
		font-weight: bold;
		line-height: 1.07;
		letter-spacing: 0.7px;
		color: #272727;
  }
  p{
    padding-bottom: 12px;
  }
	&-subtitle {
    padding-top: 15px;
    padding-bottom: 10px;
		font-size: 22px;
		font-weight: bold;
		line-height: 1.36;
		letter-spacing: 0.55px;
		color: #272727;
	}
	ul {
		padding-left: 26px;
		li {
			line-height: 2;
			position: relative;
			&:before {
				position: absolute;
				display: block;
				content: '';
				width: 8px;
				height: 8px;
				background: #9fc86b;
				border-radius: 50%;
				left: -16px;
				top: 11px;
			}
		}
	}
}
.rating-stars {
	width: 85px;
	height: 16px;
	position: relative;
	&__empty {
		background: url(../img/stars-empty.png);
		height: 100%;
	}
	&__full {
		background: url(../img/stars-full.png);
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}
}